In [2]:
import pandas as pd
import numpy as np

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
aadhar= pd.read_csv("C:/Users/admin/Downloads/Aadhar.csv")
aadhar

C:\Users\admin\AppData\Local\Temp\ipykernel_14832\1828544647.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  aadhar= pd.read_csv("C:/Users/admin/Downloads/Aadhar.csv")

,Registrar,Enrolment Agency,State,District,Sub District,Pin Code,Gender,Age,Aadhaar generated,Enrolment Rejected,Residents providing email,Residents providing mobile number
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
440813,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,1,3,0,0,1
440814,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,2,1,0,0,1
440815,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,3,3,0,0,1
440816,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,4,1,0,0,0
440817,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Ranchi,Ranchi,834002,F,3,1,0,0,1

In [14]:
aadhar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440818 entries, 0 to 440817
Data columns (total 12 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Registrar                          440818 non-null  object
 1   Enrolment Agency                   440818 non-null  object
 2   State                              440818 non-null  object
 3   District                           440818 non-null  object
 4   Sub District                       440818 non-null  object
 5   Pin Code                           440818 non-null  object
 6   Gender                             440818 non-null  object
 7   Age                                440818 non-null  int64
 8   Aadhaar generated                  440818 non-null  int64
 9   Enrolment Rejected                 440818 non-null  int64
 10  Residents providing email          440818 non-null  int64
 11  Residents providing mobile number  440818 non-null  int64
dtypes: int64(5), object(7)
memory usage: 40.4+ MB

In [18]:
print(list[aadhar.columns])

list[Index(['Registrar', 'Enrolment Agency', 'State', 'District', 'Sub District',
       'Pin Code', 'Gender', 'Age', 'Aadhaar generated', 'Enrolment Rejected',
       'Residents providing email', 'Residents providing mobile number'],
      dtype='object')]

In [19]:
aadhar.head()

,Registrar,Enrolment Agency,State,District,Sub District,Pin Code,Gender,Age,Aadhaar generated,Enrolment Rejected,Residents providing email,Residents providing mobile number
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0,1

In [20]:
aadhar.tail()

,Registrar,Enrolment Agency,State,District,Sub District,Pin Code,Gender,Age,Aadhaar generated,Enrolment Rejected,Residents providing email,Residents providing mobile number
440813,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,1,3,0,0,1
440814,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,2,1,0,0,1
440815,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,3,3,0,0,1
440816,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,4,1,0,0,0
440817,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Ranchi,Ranchi,834002,F,3,1,0,0,1

In [32]:
# group the dataframe by state and count the number of rows in each group
State_counts=aadhar.groupby('State')['Enrolment Agency'].count()
print(State_counts)

State
Andaman and Nicobar Islands        7
Andhra Pradesh                  4540
Arunachal Pradesh                632
Assam                           2972
Bihar                          81776
Chandigarh                       199
Chhattisgarh                    4617
Dadra and Nagar Haveli           107
Daman and Diu                     99
Delhi                           7247
Goa                              799
Gujarat                        24146
Haryana                         5138
Himachal Pradesh                1283
Jammu and Kashmir               1331
Jharkhand                       7423
Karnataka                      15755
Kerala                         12378
Lakshadweep                        5
Madhya Pradesh                 37360
Maharashtra                    19783
Manipur                          562
Meghalaya                        259
Mizoram                         3172
Nagaland                         392
Odisha                         11972
Others                            12
Puducherry                        85
Punjab                          5888
Rajasthan                      28659
Sikkim                            48
Tamil Nadu                     21196
Telangana                       3768
Tripura                          726
Uttar Pradesh                  69476
Uttarakhand                     6521
West Bengal                    60485
Name: Enrolment Agency, dtype: int64

In [53]:
# group the dataframe by state and count the number of rows in each group
State_counts=aadhar.groupby('State')['Enrolment Rejected'].count()
print(State_counts)

State
Andaman and Nicobar Islands        7
Andhra Pradesh                  4540
Arunachal Pradesh                632
Assam                           2972
Bihar                          81776
Chandigarh                       199
Chhattisgarh                    4617
Dadra and Nagar Haveli           107
Daman and Diu                     99
Delhi                           7247
Goa                              799
Gujarat                        24146
Haryana                         5138
Himachal Pradesh                1283
Jammu and Kashmir               1331
Jharkhand                       7423
Karnataka                      15755
Kerala                         12378
Lakshadweep                        5
Madhya Pradesh                 37360
Maharashtra                    19783
Manipur                          562
Meghalaya                        259
Mizoram                         3172
Nagaland                         392
Odisha                         11972
Others                            12
Puducherry                        85
Punjab                          5888
Rajasthan                      28659
Sikkim                            48
Tamil Nadu                     21196
Telangana                       3768
Tripura                          726
Uttar Pradesh                  69476
Uttarakhand                     6521
West Bengal                    60485
Name: Enrolment Rejected, dtype: int64

In [54]:
 # group the dataframe by state and count the number of rows in each group
District_counts=aadhar.groupby('District')['Enrolment Agency'].count()
print(District_counts)

District
Adilabad         180
Agra            1630
Ahmadnagar       451
Ahmedabad       3311
Aizawl           658
                ...
Wokha             31
Yadgir           280
Yamuna Nagar     144
Yavatmal         448
Zunheboto          8
Name: Enrolment Agency, Length: 664, dtype: int64

In [55]:
# group the dataframe by state and count the number of rows in each group
District_counts=aadhar.groupby('District')['Enrolment Rejected'].count()
print(District_counts)

District
Adilabad         180
Agra            1630
Ahmadnagar       451
Ahmedabad       3311
Aizawl           658
                ...
Wokha             31
Yadgir           280
Yamuna Nagar     144
Yavatmal         448
Zunheboto          8
Name: Enrolment Rejected, Length: 664, dtype: int64

In [59]:
# group the dataframe by state and count the number of rows in each group
Gender_count = aadhar.groupby('Gender')['Enrolment Agency'].count()
print(Gender_count)

Gender
F    148013
M    292798
T         7
Name: Enrolment Agency, dtype: int64

In [77]:
filtered_aadhar =aadhar[(aadhar['Age']<=25)].count()
print(filtered_aadhar)

Registrar                            304165
Enrolment Agency                     304165
State                                304165
District                             304165
Sub District                         304165
Pin Code                             304165
Gender                               304165
Age                                  304165
Aadhaar generated                    304165
Enrolment Rejected                   304165
Residents providing email            304165
Residents providing mobile number    304165
dtype: int64

In [78]:
filtered_aadhar =aadhar[(aadhar['Age']>=25) & (aadhar['Age']<=35)].count()
print(filtered_aadhar)

Registrar                            62512
Enrolment Agency                     62512
State                                62512
District                             62512
Sub District                         62512
Pin Code                             62512
Gender                               62512
Age                                  62512
Aadhaar generated                    62512
Enrolment Rejected                   62512
Residents providing email            62512
Residents providing mobile number    62512
dtype: int64

In [74]:
filtered_aadhar =aadhar[aadhar['Age']>=45].count()
print(filtered_aadhar)

Registrar                            53598
Enrolment Agency                     53598
State                                53598
District                             53598
Sub District                         53598
Pin Code                             53598
Gender                               53598
Age                                  53598
Aadhaar generated                    53598
Enrolment Rejected                   53598
Residents providing email            53598
Residents providing mobile number    53598
dtype: int64